<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<link type="text/css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
   


</head>

<body>
	<footer style="position:absolute; bottom:0; width:100%;" th:fragment="rodape" id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Perito Criminal Sttefani Ribeiro - Desenvolvedor</small>
      <br>
      <small>sttefaniribeiro@yahoo.com.br</small>
    </div>
  </footer>  

<!-- include javascript -->
<script type="text/javascript" src="webjars/jquery/3.5.0/jquery.min.js/"></script>
<script type="text/javascript" src="webjars/popper/2.0.2/jquery.min.js/"></script>
<script type="text/javascript" src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>

</body>
</html>